@model WebApplication1.Models.PearproductionsViewModel

<section class="container d-flex flex-column justify-content-between min-vh-100 mx-auto ">
    <div class="col-6">
        <div class="">
            <h3 class="mb-4 ps-4">Değeri Güncelle</h3>
        </div>
        <div class=" mt-5 mb-5 ps-4">
            @using (Html.BeginForm("EditFruitProductionDistribution", "Admin", FormMethod.Post))
            {
                <div class="row mb-2">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.country_name, new { @Class = "form-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.country_name, new { @Value = @Model.country_name, @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.country_name)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.production_2018, new { @class = "form-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.production_2018, new { @Value = @Model.production_2018, @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.production_2018)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.production_2019, new { @class = "form-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.production_2019, new { @Value = @Model.production_2019, @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.production_2019)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.production_2020, new { @class = "form-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.production_2020, new { @Value = @Model.production_2020 , @class = "form-control"})
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(x => x.production_2020)
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg ">Güncelle</button>
            }
        </div>
    </div>


</section>
