@model List<WebApplication1.Models.Pearproduction>
<section class="mt-5 mb-5 container min-vh-100 d-flex flex-column justify-content-center text">
    <div class="row my-3">
        <div class="col">
            <h1>Son 3 Yıla Göre Üretim Dağılımı </h1>
        </div>
        <div class="col-xl-2 col-sm-3 col-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <a href="/Admin/AddFruitProductionDistribution" class="text-decoration-none">
                            <div class="media d-flex">
                                <div class="align-self-center text-bg-light">
                                    <i class="fa-solid fa-circle-plus fa-2xl success" ></i>
                                </div>
                                <div class="media-body text-right text-black">
                                    <h3>Ekle</h3>
                                    <span>(Admin Görebilir)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><h4>ülke</h4></th>
                    <th scope="col"><h4>2018</h4></th>
                    <th scope="col"><h4>2019</h4></th>
                    <th scope="col"><h4>2020</h4></th>
                    <th scope="col"><h4>#</h4></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="fs-4">
                        <th scope="row"><p class="fs-5">@item.id</p></th>
                        <td>@item.country_name</td>
                        <td>@item.production_2018</td>
                        <td>@item.production_2019</td>
                        <td>@item.production_2020</td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    @using (Html.BeginForm("DeleteFruitProductionDistribution", "Admin",FormMethod.Post))
                                    {
                                        @Html.Hidden("id",item.id)
                                        <button type="submit" class="btn btn-danger btn-lg">Sil</button>
                                    }
                                </div>
                                <div class="col-3">
                                   @Html.ActionLink("Güncelle","EditFruitProductionDistribution", "Admin" , new { id = item.id}, new { @class = "btn btn-success btn-lg" })
                                </div>
                            </div>
                            

                        </td>

                    </tr>
                }
            </tbody>
        </table>
</section>
